.App-header {
  text-align: center;
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  border-bottom: 5px solid cadetblue;
 
}
.App-header p {
  font-size: 14px;
}

.App-link {
  color: #61dafb;
}

.table {
  margin-top: 50px;
  
}
.form-group {
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  margin-top: 0;
}
#searchLabel {
  visibility: hidden;
}

tbody td {
  text-align: center;
}

.button {
  background-color: #131527;
  color: white;
}



